<div class="event-item">
  <form ng-submit="$ctrl.editEvent()">
    <label>Timestamp:</label>
    <input type="text" value="{{$ctrl.eventItem.timestamp}}" ng-model="$ctrl.eventItem.timestamp">
    <label>Title:</label>
    <input type="text" value="{{$ctrl.eventItem.title}}" ng-model="$ctrl.eventItem.title">
    <label>Content:</label>
    <input type="text" value="{{$ctrl.eventItem.content}}" ng-model="$ctrl.eventItem.content">
    <input type="submit" value="">
    <button ng-click="$ctrl.deleteEvent()">Delete</button>
  </form>
</div>
